<ion-view view-title="Shop">
  <ion-content>
    <div class="list">

      <label class="item item-input item-select">
        <div class="input-label">
          Store
        </div>
        <select ng-model="selectedStore.store"
                ng-options="item.id as item.name for item in stores"
                ng-change="changeStore()">
          <option value="">Select Store</option>
        </select>
      </label>

      <label class="item item-input">
        <div class="input-label">
          <h4>Choose category</h4>
        </div>
      </label>

      <div ng-repeat="category in categories">
        <a class="item item-input" href="#/app/shop/{{category.id}}">
          <div class="input-label">
            {{category.name}}
          </div>
        </a>
      </div>



    </div>
  </ion-content>
</ion-view>
